

body,
html {
  height: 100%;
  font-size: 20px; 
  font-family: "Acme", sans-serif;
  line-height: 1.5em; 
  margin: 0em;
  color: white; 
  background-color: #ffffff; 
  box-sizing: border-box;
}

h1 {
  text-align: left;
  color:  #efe9dc;
  font-size: 20px; 
  margin-left: 20px;
  text-shadow: 1px 1px 2px black; 
}


h2 {
  letter-spacing: 3px;
  font-size: 25px;
  fony: "Rowdies";
  color: #ffaaaa;
  text-align: center;
  line-height: 1.5em;
}

/
p a {
  color: #ffaaaa;
  text-decoration: none;
}



ul.nav-bar {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffaaaa;
  border-style: solid;
  border-color: #ffffff;
}



li.nav {

  float: right;
  font-size: 15px;
}



li.nav a {

  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}



li.nav a:hover {
 
  background-color: #ffffff;
  color: #ffaaaa;
}

.flex-container {
  display: flex; 
  flex-direction: row; 
  flex-wrap: nowrap; 
  justify-content: center;
  align-items: center; 


  background-color: #ffffff;
  padding: 5px;

 
  position: absolute;
  left: 20%;
  right: 20%;
  top: 40%;
}



.heading-home {
  padding: 2%;
  color: #ffaaaa;
  font-size: 50px;
  letter-spacing: 10px;
  line-height: 60px;
  text-align: center;

 
}

.intro-text {
  background-color: #ffaaaa; 
  padding: 4%;
  margin: 3%;
  color: #ffffff;
  font-size: 20px; 
  letter-spacing: 2px;
  line-height: 1.4em; 
  text-align: center;

  
}




.text-section {
  background-color: #ffffff;
  padding: 20px 45px;
  margin: 35px;
  text-align: center;
}


.main-message,
.image-one {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffaaaa;
  background-size: cover;
  min-height: 100%; 
  
}


.main-message {
  background-image: url("https://cutewallpaper.org/21/pastel-laptop-wallpaper/Best-56-Pinterest-Wallpaper-on-HipWallpaper-Pinterest-.jpg");
  background-attachment: fixed;
}

.image-one {
  background-image: url("https://s.abcnews.com/images/US/robbery-01-ht-mt-180819_hpMain_16x9_1600.jpg");
    background-attachment: fixed;
}

.attributions {
  font-size: 12px;
  text-align: right;
  margin-right: 10px;
}

